# SET
Set is one of the built-in datatype, used to store collections of data. Sets are representated by{}. 

* Set items are **unordered** i.e. indexing can't be done.
* Sets are **unchangeable** i.e. we can't change it's items, can only add new items.
* Sets **doesn't allow duplicates**. 
```
example_of_set = {1, True, "David"}
```

In [ ]:
# Sets Can be created by
set1 = {1, 2, 3, "Hello", False}
set2 = set([1, 2, "World", 3, 4, True, 5])
print('This is set 1 : ',set1)
print('This is set 2 : ',set2)

This is set 1 :  {False, 1, 2, 3, 'Hello'}
This is set 2 :  {1, 2, 3, 'World', 4, 5}

In [ ]:
# Set items are unordered 
set1 = {1, 10, -3, False, "david", 100, 'john'}
print(set1)         # by running this you can see that indexing is not fixed as while printing the items were shuffled
# print(set1[2])    # run this command(by uncommenting it) to check that it will give error as indexing can't be done

{False, 1, 100, 10, 'david', 'john', -3}

In [ ]:
# Sets are unchangeable :- if er try to change its item it will give error
set1 = {1, 10, -3, False, "david", 100, 'john'}
set1[3] = 5  # run this to see that it will give error
print(set1)

TypeError: ignored

In [ ]:
# Sets doesn't allow duplicates
set2 = set([1, 1, 1, 2, 2, 3, 3, 3, 4])
print(set2)

# Use of len() and type() function 
* **len()** is used to get the length of set.
* Sets are defined as objects with the data type 'set' for checking the type of variable we use **type()**.

In [ ]:
# Use of len() function
set2 = set([1, 1, 1, 2, 2, 3, 3, 3, 4, 'david', 'alex', False])
length = len(set2)
print(set2,'has',length,'items')

In [ ]:
# Use of len() function
set2 = set([1, 1, 1, 2, 2, 3, 3, 3, 4, 'david', 'alex', False])
print(type(set2))

<class 'set'>

# Adding items in SET
Once a set is created, we cannot change it's items, but we can add new items, for adding item in set we can use following functions :-
* **add()** - To add one item to a set we use add() method.
* **update()** - To add items from another set into the current set, we use update() method, the object in the update() method does not have to be a set, it can be any iterable object (tuples, lists etc.).

In [ ]:
# use of add()
set1 = {1, 2, 3, 4}
print('Set before adding new item :',set1)
set1.add('John')
print('Set after adding new item :',set1)

Set before adding new item : {1, 2, 3, 4}
Set after adding new item : {1, 2, 3, 4, 'John'}

In [ ]:
# use of add()
set1 = {1, 2, 3, 4}
set2 = {"john", "david", False}
lst = ["alex", "jack"]

print('Set-1 :',set1)
print('Set-2 :',set2)

set1.update(set2)
print('Set after adding set-2 in it :',set1)

set1.update(lst)
print('Set after adding list in it :',set1)

# Removing items from SET
For removing items in set we use following functions :-
* **remove()** is used to remove item from set, if the item to be removed does not exist, remove() will raise an error.
* **discrad()** is used to remove item from set, if the item to be removed does not exist, discard() will not raise an error.
* **pop()** in others datatypes pop() removes last item, but set are unordered so when using the pop() method, we do not know which item that gets removed.
* **clear()** is used to empty the set.
* **del** keyword is used to del the set completely.

In [ ]:
# use of remove()
set1 = {1, 2, 3, 4}
print('Set before removing any item :',set1)

set1.remove(2)
print('Set after removing "2" :',set1)

# set1.remove(5)          # if you run it after umcommenting it will give error as 5 is not in the set

In [3]:
# use of discard()
set1 = {1, 2, 3, 4}
print('Set before removing any item :',set1)

set1.discard(2)
print('Set after removing "2" :',set1)

set1.discard(5)      # it will not give any error

Set before removing any item : {1, 2, 3, 4}
Set after removing "2" : {1, 3, 4}

In [7]:
# use of pop()
set1 = {1, 'David', 2, 3, 4, False}
print('Set before removing any item :',set1)

set1.pop()
print('Set after using pop() :',set1)

Set before removing any item : {False, 1, 2, 3, 4, 'David'}
Set after using pop() : {1, 2, 3, 4, 'David'}

In [ ]:
# use of clear()
set1 = {1, 'David', 2, 3, 4, False}
print('Set before using clear() :',set1)

set1.clear()    # it will make the set empty 
print('Set after using clear() :',set1)

In [ ]:
# use of del
set1 = {1, 'David', 2, 3, 4, False}
print('Set before using del :',set1)

del set1   # it will delete the existance of set and give error as this set is not exist
print('Set after using del :',set1)

# Some SET Operations
* **union()** method returns a new set with all items from both the sets.
* **update()** method inserts the items from one set into another.
* **intersection_update()** method will keep only the items that are present in both sets.
* **intersection()** method will return a new set, that only contains the items that are present in both sets.
* **symmetric_difference_update()** method will keep only the elements that are NOT present in both sets.
* **symmetric_difference()** method will return a new set, that contains only the elements that are NOT present in both sets.
* **difference_update()**	removes the items in the set that are also included in another, specified set.
* **difference()** returns a set containing the difference between two or more sets.
* **isdisjoint()**	returns True if they do-not have any common elements in between them..
* **issubset()**	 returns True if all elements of a set A are present in another set B. 
* **issuperset()**	returns True if all elements of a set A occupies set B .

In [ ]:
# Use of union()
a = {1,2,3,4}
b = {3,4,5,6}
print('Set a :',a,'\nSet b :',b)

c = a.union(b)
print('Set-a union Set-b is',c)

In [ ]:
# Use of update()
a = {1,2,3,4}
b = {3,4,5,6}
print('Set a :',a,'\nSet b :',b)

a.update(b)
print('Set-a after updating',a)

In [ ]:
# Use of intersection_update()
a = {1,2,3,4}
b = {3,4,5,6}
print('Set a :',a,'\nSet b :',b)

a.intersection_update(b)
print('New Set-a',a)

In [ ]:
# use of intersection()
a = {1,2,3,4}
b = {3,4,5,6}
print('Set a :',a,'\nSet b :',b)

c = a.intersection(b)
print('New Set-c :',c)

In [ ]:
# Use of symmetric_difference_update()
a = {1,2,3,4}
b = {3,4,5,6}
print('Set a :',a,'\nSet b :',b)

a.symmetric_difference_update(b)
print('New Set-a',a)

In [ ]:
# use of symmetric_difference()
a = {1,2,3,4}
b = {3,4,5,6}
print('Set a :',a,'\nSet b :',b)

c = a.symmetric_difference(b)
print('New Set-c :',c)

In [ ]:
# use of difference_update() 
a = {1,2,3,4}
b = {4,5,6}
print('Set a :',a,'\nSet b :',b)

a.difference_update(b)
print('New Set-a',a)

In [ ]:
# use of difference() 
a = {1,2,3,4}
b = {3,5,6}
print('Set a :',a,'\nSet b :',b)

c = a.difference(b)
print('New Set-c :',c)

In [ ]:
# use of isdisjoint()
a = {1,2,3}
b = {4,5,6}
print('Set a :',a,'\nSet b :',b)

print(a.isdisjoint(b))

In [53]:
# use of issubset()
a = {1,2,3}
b = {1}
c = {2,3,4}
print('Set a :',a,'\nSet b :',b,'\nSet c :',c)

print('\nset-b is subset of set-a :',b.issubset(a))
print('set-c is subset of set-a :',c.issubset(a))

Set a : {1, 2, 3}
Set b : {1}
Set c : {2, 3, 4}

set-b is subset of set-a : True
set-c is subset of set-a : False

In [ ]:
# use of issuperset()
a = {1,2,3}
b = {1}
c = {2,3,4}
print('Set a :',a,'\nSet b :',b,'\nSet c :',c)

print('\nset-a is superset of set-b :',a.issuperset(b))
print('set-a is superset of set-c :',a.issuperset(c))