In [1]:
#install apyori module
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=83096a5ed36c0334b64937d619fbf8ff5a147df695ad7487a0b4c3a6a6e3a309
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
#import the necessary modules for our code
import pandas as pd
from apyori import apriori

In [3]:
#import dataset
from google.colab import files
uploaded = files.upload()

Saving groceries - groceries.csv to groceries - groceries.csv

In [5]:
#load the data and observe the first five transactions
data = pd.read_csv("groceries - groceries.csv")
data.head()

   Item(s)            Item 1               Item 2  ... Item 30 Item 31 Item 32
0        4      citrus fruit  semi-finished bread  ...     NaN     NaN     NaN
1        3    tropical fruit               yogurt  ...     NaN     NaN     NaN
2        1        whole milk                  NaN  ...     NaN     NaN     NaN
3        4         pip fruit               yogurt  ...     NaN     NaN     NaN
4        4  other vegetables           whole milk  ...     NaN     NaN     NaN

[5 rows x 33 columns]

In [10]:
#check data insights
print(data.shape,"\n", data.columns)

(9835, 33)
 Index(['Item(s)', 'Item 1', 'Item 2', 'Item 3', 'Item 4', 'Item 5', 'Item 6',
       'Item 7', 'Item 8', 'Item 9', 'Item 10', 'Item 11', 'Item 12',
       'Item 13', 'Item 14', 'Item 15', 'Item 16', 'Item 17', 'Item 18',
       'Item 19', 'Item 20', 'Item 21', 'Item 22', 'Item 23', 'Item 24',
       'Item 25', 'Item 26', 'Item 27', 'Item 28', 'Item 29', 'Item 30',
       'Item 31', 'Item 32'],
      dtype='object')

In [51]:
#convert the observation into a list of lists because we have to feed in a list of lists as parameter
#we have taken first 5 transactions for example purpose
observations = []
for i in range(5):
    observations.append([str(data.values[i,j]) for j in range(1,33)])

In [37]:
#check the first transaction values
print(observations[0])

['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']

In [52]:
#build the rules and display the first rule
#you can change the parameters according to length and type of datasets.
rules = apriori(observations,  min_length = 2, min_support = 0.2, min_confidence = 0.2, min_lift = 2)
rules = list(rules)
print(len(rules))
rules[0]

74

RelationRecord(items=frozenset({'margarine', 'citrus fruit'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'citrus fruit'}), items_add=frozenset({'margarine'}), confidence=1.0, lift=5.0), OrderedStatistic(items_base=frozenset({'margarine'}), items_add=frozenset({'citrus fruit'}), confidence=1.0, lift=5.0)])

# Results
We observe that margarine and citrus fruit are being brought together.
This observation has a support value of 0.2 and confidence value of 100%.